= turbo_frame_tag "current_user_balance" do
  .balance
    - if current_user_balance >= 0
      %p.positive= format_balance current_user_balance
    - else
      %p.negative= format_balance current_user_balance