.bank-account-transactions.card.mb-4
  .card-header
    %h2= @bank_account.bank
  .card-body
    .d-flex.mb-2.fs-5.card-subtitle.text-muted
      %p.fw-bold= @bank_account.sort.capitalize
      %p.ms-1= "#" + @bank_account.last_four
    = render "transactions"