.bank_account.card
  .header.space
    .title
      %h3= @bank_account.bank
  .bank-account-info.space
    %p.type= @bank_account.sort.capitalize
    %p.number= "#" + @bank_account.last_four
  = render "transactions"